annotated-types
anyio
astor
click
colorama
exceptiongroup
fastapi
h11
Naked
psutil
pycryptodomex
pydantic
pydantic_core
pynvml
PyYAML
requests
shellescape
sniffio
starlette
typing_extensions
uvicorn
websockets

